# Python
.venv
**/__pycache__
*.pyc
*.pyo
*.egg-info
dist/
build/

# Env — sekrety nigdy do repo
.env
.env.*
!.env.example

# Postgresql
postgres-data/

# MLflow runtime
mlflow.db
mlruns/

# Dagster
.dagster/

# Wygenerowane raporty
reports/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
